body {
    color: #056AD3;
    font-family: Open Sans, sans-serif;;
}
nav {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 89, 183, 0.16);
    height: 5rem;
}
.cards {
    width: 55rem;
    padding: 1rem 3rem;
    box-shadow: 0px 0px 4px 2px rgba(0, 88, 183, 0.048);
    border-radius: 8px;
    margin-top: 1rem;
    border: 0.1px solid #0569d32c;
}
.cardProduk {
    width: 55rem;
    padding: 0;
    border-radius: 8px;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid rgb(219, 219, 219);
}
.cardToko{
    width: 22rem;
    height: 10rem;
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    margin-left: 1rem;
    
    background-color: #ebf3ff;
    color: #056AD3;
    border: 1px solid #056AD3;

    outline:0;
    display:block;
    text-decoration:none;
    position:relative;
    top:0;
    left:0;

    transition: all 100ms ease-in;
    cursor: pointer;
}
.cardToko:hover{
    border: 1px solid #056AD3;
    top:-4px;
    right:-4px;
    box-shadow:-5px 5px  #056AD3;
}

.infoToko{
    font-size: 12px;
    width:15rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

a{
    text-decoration: none !important;
}
.nav-item{
    margin-right: 1rem;
}
.nav-item:hover{
    font-weight: 600;
}
.navbar-brand{
    margin-right: 5rem;
}
.actived1 {
    position: relative;
    color: #056AD3;
    padding-bottom: 5px;
    font-weight: 600;
  }

.actived1::before{
    content: "";
    position: absolute;
    left: 35px;
    bottom: 0;
    height: 15px;
    width: 35%;
    border-bottom: 2px solid #056AD3;
}

.actived2 {
    position: relative;
    color: #056AD3;
    padding-bottom: 5px;
    font-weight: 600;
  }

.actived2::before{
    content: "";
    position: absolute;
    left: 25px;
    bottom: 0;
    height: 15px;
    width: 35%;
    border-bottom: 2px solid #056AD3;
}

.actived3 {
    position: relative;
    color: #056AD3;
    padding-bottom: 5px;
    font-weight: 600;
  }

.actived3::before{
    content: "";
    position: absolute;
    left: 33px;
    bottom: 0;
    height: 15px;
    width: 35%;
    border-bottom: 2px solid #056AD3;
}
.cHead{
    font-weight: 700; font-size:22px; margin-bottom:0.5rem;
}
.cBody{
    width:20rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.txHover:hover{
    font-weight: 600;
}
td {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.btnYellow{
    color: #866502;
    font-weight: 700;
    background-color: #FFF3CD;
    padding: 4px 13px;
    border: none;
}
.btnRed{
    color: #DF476D;
    font-weight: 700;
    background-color: #FFE8EF;
    padding: 4px 13px;
    border: none;
}
.btnGreen{
    color: #2FB084;
    font-weight: 700;
    background-color: #EBF9F5;
    padding: 4px 13px;
    border: none;
}
.btn-prm {
    background-color: #056AD3;
    width: 6rem;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
}
.btn-prm:hover {
    color: #FFFFFF;
    background-color: #034AB6;
}
.tblMax{
    max-height: 30rem;
    overflow-y: scroll;   
}
.btnBack{
    font-size: 22px; font-weight:400;
    color: #034AB6;
}
.btnBack:hover{
    font-weight: 600;
}

.btn-scn {
    background-color: #E0ECFF;
    width: 6rem;
    color: #056AD3;
    font-weight: 600;
}

.btn-scn:hover {
    border: 1px solid #056AD3;
    color: #056AD3;
}

.btn-red {
    background-color: #FFE8EF;
    width: 6rem;
    color: #DF476D;
    font-weight: 600;
}
.btn-red:hover {
    border: 1px solid #DF476D;
    color: #DF476D;
}

.navButton{
    color: #056AD3;
    border: none;
    background: none;
}
.navButton:hover{
    font-weight: 700;
}

.carousel-item img {
    max-width:  70vw;
    max-height: 40vh;
    min-height: 40vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.btn-primary{
    background-color: #056AD3;
    border: none;
}
.btn-primary:hover {
    color: #FFFFFF;
    background-color: #034AB6;
}

.produkBody::-webkit-scrollbar {
    display: none; 
  }