body {
    color: #176E23;
    font-family: Open Sans, sans-serif;;
}
nav {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 89, 183, 0.16);
    height: 5rem;
}
.cards {
    width: 55rem;
    padding: 1rem 3rem;
    box-shadow: 0px 0px 7px 1px rgba(12, 126, 52, 0.24);
    border-radius: 8px;
    margin-top: 1rem;
    background-color: white;
}
.cardProduk {
    width: 55rem;
    padding: 0;
    border-radius: 8px;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid rgb(219, 219, 219);
}
.cardToko{
    width: 22rem;
    height: 10rem;
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    margin-left: 1rem;
    
    background-color: #ebf3ff;
    color: #176E23;
    border: 1px solid #176E23;

    outline:0;
    display:block;
    text-decoration:none;
    position:relative;
    top:0;
    left:0;

    transition: all 100ms ease-in;
    cursor: pointer;
}
.cardToko:hover{
    color: #176E23;
    border: 1px solid #176E23;
    top:-4px;
    right:-4px;
    box-shadow:-5px 5px  #176E23;
}

.infoToko{
    font-size: 12px;
    width:15rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

a{
    text-decoration: none !important;
}
.nav-item{
    margin-right: 1rem;
}
.nav-item:hover{
    font-weight: 600;
}
.navbar-brand{
    margin-right: 5rem;
}
.actived1 {
    position: relative;
    color: #176E23;
    padding-bottom: 5px;
    font-weight: 600;
  }

.actived1::before{
    content: "";
    position: absolute;
    left: 35px;
    bottom: 0;
    height: 15px;
    width: 35%;
    border-bottom: 2px solid #176E23;
}

.actived2 {
    position: relative;
    color: #176E23;
    padding-bottom: 5px;
    font-weight: 600;
  }

.actived2::before{
    content: "";
    position: absolute;
    left: 25px;
    bottom: 0;
    height: 15px;
    width: 35%;
    border-bottom: 2px solid #176E23;
}

.actived3 {
    color: black !important;
  }

.cHead{
    font-weight: 700; font-size:22px; margin-bottom:0.5rem;
}
.cBody{
    width:20rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.txHover{
    color:#176E23; font-weight:600;
}
.txHover:hover{
    font-weight: 700;
    color:#176E23;
}
td {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.btnYellow{
    color: #866502;
    font-weight: 700;
    background-color: #FFF3CD;
    padding: 4px 13px;
    border: none;
}
.btnBlue{
    color: #08429E;
    font-weight: 700;
    background-color: #CFE2FF;
    padding: 4px 13px;
    border: none;
}
.btnRed{
    color: #DF476D;
    font-weight: 700;
    background-color: #FFE8EF;
    padding: 4px 13px;
    border: none;
}
.btnGreen{
    color: #2FB084;
    font-weight: 700;
    background-color: #EBF9F5;
    padding: 4px 13px;
    border: none;
}
.btn-prm {
    background-color: #176E23;
    width: 6rem;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
}
.btn-prm:hover {
    color: #FFFFFF;
    background-color: #01AC67;
}
.tblMax{
    max-height: 25.5rem;
    overflow-y: scroll;   
}
.btnBack{
    font-size: 22px; font-weight:400;
    color: #034AB6;
}
.btnBack:hover{
    font-weight: 600;
}

.btn-scn {
    background-color: #DDF1EA;
    border-color: #DDF1EA;
    color: #176E23;
    width: 6rem;
    
    font-weight: 600;
}

.btn-scn:hover {
    background-color: #DDF1EA;
    border: thin solid #01AC67;
    color: #176E23;
}

.btn-red {
    background-color: #FFE8EF;
    width: 6rem;
    color: #DF476D;
    font-weight: 600;
}
.btn-red:hover {
    border: 1px solid #DF476D;
    color: #DF476D;
}

.navButton{
    color: #737373de;
    border: none;
    background: none;
    font-weight: 600;
}
.navButton:hover{
    color: black;
}

.carousel-item img {
    max-width:  70vw;
    max-height: 40vh;
    min-height: 40vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.btn-primary {
    background-color: #176E23;
    border: none;
  }
.btn-primary:focus {
    background-color: #176E23;
    border: none;
  }
  
.produkBody::-webkit-scrollbar {
    display: none; 
  }

.btn-primary:hover {
    background-color: #01AC67;
  }
  
.btn-secondary {
    background-color: #DDF1EA;
    border-color: #DDF1EA;
    color: #176E23;
  }
  
.btn-secondary:hover {
    background-color: #DDF1EA;
    border: thin solid #01AC67;
    color: #176E23;
  }
.btn-secondary:focus {
    background-color: #DDF1EA;
    border: thin solid #01AC67;
    color: #176E23;
  }

.nav-link:active{
    color: #176E23;
  }

  .btn-primary2 {
    background-color: #0C3612;
    color: white;
    border: none;
  }

  .btn-primary2:hover {
    background-color: white;
    color: #176E23;
    
  }

  .card-green {
    width: 55rem;
    padding: 1rem 3rem;
    box-shadow: 0px 0px 7px 1px rgba(12, 126, 52, 0.24);
    border-radius: 8px;
    margin-top: 1rem;
    border: 0.1px solid rgba(12, 126, 52, 0.24);
    background-color: #176E23;
    color: white;
}

.cHover{
    background-color: #ebf3ff;
    color: #176E23;
    border: 1px solid #176E23;

    outline:0;
    position:relative;
    top:0;
    left:0;
    transition: all 100ms ease-in;
    cursor: pointer;
}
.cHover:hover{
    border: 1px solid #176E23;
    top:-4px;
    right:-4px;
    box-shadow:-5px 5px  #176E23;
}

.assetGBR:hover{
    cursor: pointer;
    border: 3px solid #01AC67;
}

.cardTbl {
    box-shadow: 0px 0px 7px 1px rgba(12, 126, 52, 0.24);
    border-radius: 8px;
    background-color: white;
}

.tblHead{
    background-color:#176E23; position:sticky; top:0; color:white;
}



.scrl::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
.scrl::-webkit-scrollbar-track {
    background: #DDF1EA; 
    border-radius: 10px;
  }
   
  /* Handle */
.scrl::-webkit-scrollbar-thumb {
    background: #379744; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
.scrl::-webkit-scrollbar-thumb:hover {
    background: #2b6d34;
  }



  
    
  